body{
    background-color: #222;
    margin: 0;
    font-family: "Acme", sans-serif;
    font-weight: 300;
    font-style: normal;
    text-shadow: 1px 1px 4px #212020;
}

nav, p{
    font-family: "Figtree", sans-serif;
    font-optical-sizing: auto;
    font-weight: light 300;
    font-style: normal;
}

header{
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: #333;
    border-bottom: 10px solid #444;
    color: white;
    font-size: 48px;
    padding: 10px 0 0 20px;
    
}

main{
    display: flex;
    justify-content: space-between;
    padding-right: 170px;
    padding-left: 170px;
    padding-top: 50px;
}

section{
    width: 400px;
    height: 500px;
    background-color: #444;
    border-radius: 15px;
    text-align: center;
    padding: 0 7px;
    margin-top: 10px;
}

section h1{
    color: white;
    font-size: 34px;
    margin-top: 20px;
    text-shadow: 1px 1px 4px #212020;
}

section p{
    color: rgb(255, 255, 255);
    font-size: 23px;
    margin-top: 8px;
}

.profil{
    width: 230px;
    height: 230px;
    border-radius: 115px;
    margin-top: -30px;
}

li{
    margin-bottom: 20px;
}

nav{
    color: #ffffff;
    font-size: 30px;
    margin-top: 12px;
    margin-left: 25px;
    position: relative;
}


.icon{
    width: 40px;
    height: 40px;
    margin-left: 3px;
    margin-top: -5px;
}

a:hover{
    text-decoration: underline;
}

.profil2{
        display: none;
        width: 48px;
        height: 48px;
        border-radius: 24px;
        margin-left: 10px;
}

.kanapka{
    color: #1DB954;
    font-size: 21px;
}

.peg{
    font-size: 21px;
    

}

@media (max-width: 768px){
    header{
        width: 100%;
    }
    
    main{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;
    }
    
    section{
        border-radius: 0;
        width: 100%;
    }

    section p{
        font-size: 20px;
        margin-top: 10px;
    }
    
    .lewy{
        margin-top: 20px;
        height: 380px;
        padding: 0 5px;
    }
    
    .prawy{
        margin-top: 20px;
        height: 260px;
    }
    
    .profil{
        display: none;
    }
    
    .profil2{
        display: block;
    }

    li{
        margin-bottom: 17px;
    }

    nav{
        margin-top: 11px;
    }

    .prawy h1{
        margin-top: 10px;
    }

}

@media(min-width: 1024px){
    p{
        line-height: 26.8px;
    }
}

body::selection{
    background-color: #2f2e2e;
}







